@import "./utils/variables";


body {
    font-family: 'roboto', 'shrikhand';
    text-align: center;
    margin: 5% 0;
}

*{box-sizing: border-box;}

h1 {
    font-size: 22px;
    font-family: 'roboto';
    font-weight: bolder;
    padding: $padding;
}
h2 {
    font-size: 22px;
    font-family: 'roboto';
    text-align: left;
    margin: 5%;
}
h3 {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    margin: 5% 0 0 0;
}
p {
    font-family: 'roboto';
    margin: 5% 0;
    font-size: 15px;
}



/*------header------*/
#enteteresto {
    display: flex;
    flex-direction: row;
    position:relative;
    height: 60px;
}
#logo img {
    width: 40%;
    height: 50%;
}
.fleche {
    position: absolute;
    left: 20px;
    color: black;
    &:hover{
        color: $primaire;
    }
}

.recherche{
    background-color: $background;
    &__lieu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 10% 0 0;
        margin-top: 2%;
        height: 60px;
        background-color: #e4e4e4;
        box-shadow: inset 0px 2px 5px rgb(185, 185, 185);
    }

    &__exploration {
        height: 250px;
        padding: $padding;
        background-color: $background;
    }
    p {
       font-weight: lighter; 
       font-size: 16px;
       padding: $padding;
    }
    .fas {
        margin: 5%;
    }
}




button {
    padding: 4% 5%;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background: $gradient;
    @include shadow;
    transform: scale(1);
    transition: transform 400ms;
    
    &:hover {
        transform: scale(1.15);
        box-shadow: 0 5px 2px darken($background, 25%);
    }
        a {
            color: white;
            text-decoration: none;
        }
}


#fonctionnement {
    padding: $padding;
}
.element {
    text-decoration: none;
    color:black;
    background-color: $background;
    border-radius: 15px;
    padding: 5%;
    margin: 5% 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 8px 10px darken($background, 8%);
    position: relative;
    transition: 400ms ease-in-out;
        &__numero {
            background-color: $primaire;
            padding: $padding;
            width: 25px;
            height: 25px;
            border-radius: 999px;
            color: white;
            margin: 2% 2% 2% -10%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
        }
        &__icone {
            margin: 0 5%;
            color: darken($background,50%);
            position: absolute;
            left : 20px;
        }  
        p {
            position: absolute;
            left: 70px;
        }  
        &:hover{
            background-color: lighten($primaire, 35%);
            .fas {color: $primaire;}
            }           
}


#restaurants {
    background-color: $background;
    padding: $padding;
}
#fiche {
    background-color: $background;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.carte {
    margin: 5%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    @include shadow;
    text-align: left;
        p {
            font-weight: lighter; 
        }
        &__img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius:15px;
        }
        &__details {
            margin: 0 0 0 5%;
        }
        &__nv {
            position: absolute;
            top:5%;
            right: 5%;
            background-color: $tertiaire;
            padding: $padding;
            border-radius: 5%;
            color:$tertiaire 10%;
            font-size: 14px;
            font-weight: bold;
            color: darken($tertiaire, 40%);
        }
        &__coeur {
            position: absolute;
            right: 8%;
            bottom: 12%;
            font-size: 20px;
            color: white;
            transform: scale(1);
            transition: transform 400ms;
            z-index: 1;
            text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
            &:hover {
                color: $primaire;
                transform: scale(1.50);
                text-shadow: none;
                &::after{
                    opacity: 1;
                }
                
            }
            &::after{
                content: "";
                opacity: 0;
                z-index: -1;
            }
        }
        &__prix {
            position: absolute;
            right: 8%;
            bottom: 10%;
        }
}
.menus {
    margin-top: 15%;
}
.menus p{
    text-align: left;
    margin: 0 5%;

}

.carte p {
    margin: 2% 0 5% 0;
}
.carte a{
    text-decoration: none;
    color: black;
}
.footer {
    background-color: darken($background,75%);
    color: white;
    padding: $padding;
    text-align: left;
}
.footer h3 {
    font-family: 'shrikhand';
    font-size: 18px;
    font-weight: lighter;
}
.footer ul{
    list-style: none;
    padding: 0;
    width: auto;
}
.footer li{
    padding:2% 0;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer i{
    margin: 0 5% 0 0;
    font-size: 14px;
}

