.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 2;
  opacity: 1;
  animation: transition 1s ease-in-out 3s forwards;
}

.loader span {
  font-size: 50px;
  text-shadow: 0 0px #9356DC, 0 0px #FF79DA;
  font-family: "shrikhand";
  color: #9356DC;
  transform: translate(0, 100%) rotate(4deg);
  animation: bounce 2s ease-in-out infinite;
}
.loader span:nth-child(1) {
  animation-delay: 120ms;
}
.loader span:nth-child(2) {
  animation-delay: 240ms;
}
.loader span:nth-child(3) {
  animation-delay: 360ms;
}
.loader span:nth-child(4) {
  animation-delay: 480ms;
}
.loader span:nth-child(5) {
  animation-delay: 600ms;
}
.loader span:nth-child(6) {
  animation-delay: 720ms;
}
.loader span:nth-child(7) {
  animation-delay: 840ms;
}
.loader span:nth-child(8) {
  animation-delay: 960ms;
}

@keyframes transition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes bounce {
  33% {
    text-shadow: 0 30px #99E2D0, 0 100px #99E2D0;
  }
  50% {
    transform: translate(0, 0) rotate(-4deg);
    text-shadow: 0 0px #9356DC, 0 0px #FF79DA;
  }
  66.67% {
    text-shadow: 0 -30px #99E2D0, 0 -100px #9356DC;
  }
}
body {
  font-family: "roboto", "shrikhand";
  text-align: center;
  margin: 5% 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 22px;
  font-family: "roboto";
  font-weight: bolder;
  padding: 2%;
}

h2 {
  font-size: 22px;
  font-family: "roboto";
  text-align: left;
  margin: 5%;
}

h3 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  margin: 5% 0 0 0;
}

p {
  font-family: "roboto";
  margin: 5% 0;
  font-size: 15px;
}

/*------header------*/
#enteteresto {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 60px;
}

#logo img {
  width: 40%;
  height: 50%;
}

.fleche {
  position: absolute;
  left: 20px;
  color: black;
}
.fleche:hover {
  color: #9356DC;
}

/*----section recherche----*/
.recherche {
  background-color: #f2f2f2;
}
.recherche__lieu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10% 0 0;
  margin-top: 2%;
  height: 60px;
  background-color: #e4e4e4;
  box-shadow: inset 0px 2px 5px #b9b9b9;
}
.recherche__exploration {
  height: 250px;
  padding: 2%;
  background-color: #f2f2f2;
}
.recherche p {
  font-weight: lighter;
  font-size: 16px;
  padding: 2%;
}
.recherche .fas {
  margin: 5%;
}

/*----section fonctionnement page d'accueil----*/
#fonctionnement {
  padding: 2%;
}

.element {
  text-decoration: none;
  color: black;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 5%;
  margin: 5% 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 8px 10px #dedede;
  position: relative;
  transition: 400ms ease-in-out;
}
.element__numero {
  background-color: #9356DC;
  padding: 2%;
  width: 25px;
  height: 25px;
  border-radius: 999px;
  color: white;
  margin: 2% 2% 2% -10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.element__icone {
  margin: 0 5%;
  color: #737373;
  position: absolute;
  left: 20px;
}
.element p {
  position: absolute;
  left: 70px;
}
.element:hover {
  background-color: #ddc7f8;
}
.element:hover .fas {
  color: #9356DC;
}

/*----- section restaurants ----*/
#restaurants {
  background-color: #f2f2f2;
  padding: 2%;
}

#fiche {
  background-color: #f2f2f2;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.carte {
  margin: 5%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  box-shadow: 0 5px 5px #c9c8c8;
  text-align: left;
}
.carte p {
  font-weight: lighter;
}
.carte__img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 4/2;
}
.carte__details {
  margin: 0 0 0 5%;
}
.carte__nv {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #99E2D0;
  padding: 2%;
  border-radius: 5%;
  color: #99E2D0 10%;
  font-size: 14px;
  font-weight: bold;
  color: #278870;
}
.carte__coeur {
  position: absolute;
  right: 8%;
  bottom: 12%;
  font-size: 20px;
  color: white;
  transform: scale(1);
  transition: transform 400ms;
  z-index: 1;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.carte__coeur:hover {
  color: #9356DC;
  transform: scale(1.5);
  text-shadow: none;
}
.carte__coeur:hover::after {
  opacity: 1;
}
.carte__coeur::after {
  content: "";
  opacity: 0;
  z-index: -1;
}
.carte__prix {
  position: absolute;
  right: 8%;
  bottom: 10%;
}

.menus {
  margin-top: 15%;
}

.menus p {
  text-align: left;
  margin: 0 5%;
}

.carte p {
  margin: 2% 0 5% 0;
}

.carte a {
  text-decoration: none;
  color: black;
}

/*-----animation des cartes menus apparition progressive vers le bas-----*/
/*----boutons et leur animation hover----*/
button {
  padding: 4% 5%;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0 5px 5px #c9c8c8;
  transform: scale(1);
  transition: transform 400ms;
}
button:hover {
  transform: scale(1.15);
  box-shadow: 0 5px 2px #b2b2b2;
}
button a {
  color: white;
  text-decoration: none;
}

/*----footer----*/
.footer {
  background-color: #333333;
  color: white;
  padding: 2%;
  text-align: left;
  position: absolute;
  width: 100%;
}

.footer h3 {
  font-family: "shrikhand";
  font-size: 18px;
  font-weight: lighter;
}

.footer ul {
  list-style: none;
  padding: 0;
  width: auto;
}

.footer li {
  padding: 2% 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer i {
  margin: 0 5% 0 0;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
