.carte__coeur, .fa-heart {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;  /*--pour créer la bordure du coeur--*/
}

.carte__coeur{
    margin: 2rem;
    color: white;
}
.titre{
    & .fa-heart {
        color: $background;
        margin-right: 20px;
        }
}
.fa-heart {
    &::after {
        content: "\f004";
        position: absolute;
        top: 0;
        right: 0;
        
        color:transparent;
        background: linear-gradient(to top, #9356DC, #FF79DA);
        

        transition: transform 1s ease-in-out;
        transform: scale(0);
    }
    
        &:hover {
        transform: scale(1.2);
        &::after {
            animation: couleur 1s ease-in-out forwards;
        }
    }
}

@keyframes couleur {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}