.carte__coeur, .fa-heart {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;  /*--pour créer la bordure du coeur--*/
    
    transition: color 1s ease;

    &::after {
        content: "\f004";
        position: absolute;
        top: 0;
        right: 0;
        color: $secondaire;
        opacity: 0;
    }
    &:hover {
        opacity: 1;
        transition: couleur 1s ease forwards;
        
        &::after {
            opacity: 1;
            animation: couleur 1s ease-in-out;
        }
    }
}

@keyframes couleur {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    
    70% {
        opacity: 1;
        transform: scale(1);
        color: $primaire;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
