.coeur {
    font-size: 25px;
    margin-top: 0.5rem;
    margin-right: 1rem;
    color: #f2f2f2;
    -webkit-text-stroke-width: 1px; /*---- épaisseur contour du coeur---*/
    -webkit-text-stroke-color: grey;/*--- couleur contour coeur---*/
    
    transition: all 0.5s  ease-in-out; /*--- pour rendre le scale plus souple---*/
    transform: scale(1);
}
  
.coeur:hover {
    cursor: pointer;
    background: linear-gradient(to bottom left, #9356dc, #ff79da);
    -webkit-background-clip: text; /*---- le gradient ne se limite qu'au coeur ---*/
    -webkit-text-fill-color: transparent;/*----transparence de color pour faire apparaitre le gradient---*/
    -webkit-text-stroke-width: 0px;/*--- disparition du contour du coeur---*/

    animation: animation 0.5s linear forwards;/*--- apparition progressive du dégradé---*/
    transform: scale(1.2);/*--- le coeur grossit---*/
}
  
  @keyframes animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}