.details {
    @include detail;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    transform: scale(1);
    transition: transform 400ms;
    z-index: 1;
    

        

    &::after{
        content: "";
        opacity: 0;
        z-index: -1;
    }
}