@mixin shadow {
    box-shadow: 0 5px 5px rgb(0,0,0, 0.2);
}

@mixin detail {
    padding: 2% 5%;
}

@mixin button {
    padding: 1rem 2rem ;
    margin: 20px;
    border-radius: 25px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    background: $gradient;
    @include shadow;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
    
    &:hover {
        transform: scale(1.15);
        box-shadow: 0 5px 5px darken($background, 35%);
    }
}

@mixin carte {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    @include shadow;
    text-align: left;
    
        p {
            font-weight: lighter; 
        }
        &__details {
            @include detail;
        }  
}

@mixin desktop-min-width-992 {
    @media only screen and ( min-width : map-get($breakpoints, desktop)){
        @content;
    }
}
@mixin tab-min-width-776 {
    @media only screen and ( min-width : map-get($breakpoints, tab)){
        @content;
    }
}